<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2>Montebello Family Festival</h2>
            <h3>Bringing Montebello Together!<br />June 23nd, 2018 in Downtown Montebello
            </h3>
            <h4>Whittier Blvd. between Montebello and 5th St.</h4>
            <p>A celebration of Montebello.
                <br /> an opportunity for local business
                <br /> and residents to enjoy a safe,
                <br /> family-friendly event with fresh
                <br /> food, artisans, and entertainment.</p>

            <ul class="actions">

                <li>
                    <a href="#" class="button">Learn More</a>
                </li>
            </ul>
        </header>
        <span class="image">
            <img src="./static/images/mff1.jpg" alt="" />
        </span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
</section>