<header id="four" class="major">
    <h2>Contact Us</h2>
    <p>Please reach out to for any questions, comments or to get involevd!</p>
</header>

<!-- Content -->
<section id="content">
    <h3>Contact info</h3>
    <p>Montebello Family Festival<br />
       Planning committee<br />
       info@montebellofamilyfestival.com
    </p>
    <p>Rocket Event Productions Inc.
        <br /> info@montebellofamilyfestival.com
        <br />(323) 708-7808
    </p>
</section>

<!-- Form -->
<!--<section>
    <h3>Form</h3>
    <form method="post" action="#">
         {% csrf_token %}
        <div class="row uniform 50%">
            <div class="6u 12u$(xsmall)">
                <input type="text" name="name" id="name" value="" placeholder="Name" />
            </div>
            <div class="6u$ 12u$(xsmall)">
                <input type="email" name="email" id="email" value="" placeholder="Email" />
            </div>
            <div class="12u$">
                <div class="select-wrapper">
                    <select name="category" id="category">
                        <option value="">- Category -</option>
                        <option value="General question">General question</option>
                        <option value="Sponsorship">Sponsorship</option>
                        <option value="Vendor">Vendor</option>
                        <option value="Entertainment">Entertainment</option>
                    </select>
                </div>
            </div>
            <div class="12u$">
                <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div class="6u 12u$(medium)">
                <input type="checkbox" id="copy" name="copy">
                <label for="copy">Email me a copy of this message</label>
            </div>
            <div class="6u$ 12u$(medium)">
                <input type="checkbox" id="human" name="human" checked>
                <label for="human">I am a human and not a robot</label>
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li>
                        <input type="submit" value="Send Message" class="special" />
                    </li>
                    <li>
                        <input type="reset" value="Reset" />
                    </li>
                </ul>
            </div>
        </div>
    </form>
</section>-->