<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li>
            <a href="http://facebook.com/montebellofamilyfestival" target="_blank" class="icon alt fa-facebook">
                <span class="label">Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/montebellofamilyfestival/" target="_blank" class="icon alt fa-instagram">
                <span class="label">Instagram</span>
            </a>
        </li>
        <li>
            <a href="mailto:info@montebellofamilyfestival.com" target="_blank" class="icon alt fa-envelope">
                <span class="label">Email</span>
            </a>
        </li>
    </ul>
    <ul class="copyright">
        <li>&copy; Montebello Family Festival. All rights reserved.</li>
        <li>
            <a href="https://angryhorsebrewing.com">Desert Brothers Craft</a>
        </li>
    </ul>
</footer>