<!-- One -->
<section id="one" class="spotlight style1 bottom">
    <span class="image fit main">
        <img src="static/images/pic02.jpg" alt="" />
    </span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="4u 12u$(medium)">
                    <header>
                        <h2>Family Festival</h2>
                        <p>Family Fun and local entertainment!</p>
                    </header>
                </div>
                <div class="4u 12u$(medium)">
                    <p>The Family Festival will bring and entire block of family friendly rides, bouncers, entertainer and more.
                        The rides and activities be available to all families who attend the festival.
                    </p>
                </div>
                <div class="4u$ 12u$(medium)">
                    <p>Local organization, and clubs will also be at the festival helping to share their philanthropic goals
                        and mission as well as Montebello Police Department and Montebello Fire Department.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>