<!-- Three -->
<section id="three" class="spotlight style3 left">
    <span class="image fit main bottom">
        <img src="static/images/pic04.jpg" alt="" />
    </span>
    <div class="content">
        <header>
            <h2>Farmers Market</h2>
            <p>Connecting local residents to local, healthy farm fresh food and farmers!</p>
        </header>
        <p>A farmers market is a public and recurring assembly of farmers or their representatives selling the food that they
            produced directly to consumers. Farmers markets facilitate personal connections and bonds of mutual benefits
            between farmers, shoppers, and communities. </p>
        <ul class="actions">
            <li>
                <a href="#" class="button">Learn More</a>
            </li>
        </ul>
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
</section>