<!-- Two -->
<section id="two" class="spotlight style2 right">
    <span class="image fit main">
        <img src="static/images/pic03.jpg" alt="" />
    </span>
    <div class="content">
        <header>
            <h2>Local Businesses</h2>
            <p>Celebrating Montebello Businesses</p>
        </header>
        <p>The Family Festival is excited to be an opportunity for all local businesses to to share what they do with the community.
            It's an opportunity for residents to learn about the eclectic mix of local businesses so they have the opportunity
            to SHOP LOCAL.</p>
        <ul class="actions">
            <li>
                <a href="#" class="button">Learn More</a>
            </li>
        </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>